<header>

  <div id="navbar" class="nav navbar-dark bg-danger  shadow-sm back navbar-collapse fixed-top ">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 40px;" class="fas fa-shipping-fast">
        Shoppiee
      </i>
      <div class="navbar-brand align-item-center d-flex">
        <strong style="font-size: 30px;text-align:center;color: rgb(228, 37, 11);">Welcome Admin!!</strong>

      </div>
      <div class="navbar-brand align-item-center d-flex">
        <strong style="font-size: 20px;color: rgb(228, 37, 11);">Welcome Admin!!</strong>

      </div>
      <div class="navbar-brand align-item-center d-flex">
        <strong style="font-size: 30px;text-align:center;color: rgb(228, 37, 11);">Welcome Admin!!</strong>

      </div>

    </div>
    <div class="d-flex">
      <ng-container *ngIf="true">

        <button class="btn btn-info me-2" routerLink="/admin" id="b1"> Admin</button>



        <button class="btn btn-success me-2" routerLink="/products" id="b1"> Website</button>


        <button class="btn btn-warning me-2" (click)="logout()" id="b1"> LogOut</button>

      </ng-container>
    </div>
  </div>
</header>
<br><br>
<br><br>



<div>

  <div class="itemm">

    <img src="/assets/ad.webp" width="100%" height="100%">

  </div>
</div>