<!-- <div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Login</h4>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input type="email" class="form-control" name="email" [(ngModel)]="email">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" name="password" [(ngModel)]="password">
                        </div>
                        <button type="button" class="btn btn-info" (click)="login()">Login</button>
                        <button type="reset" class="btn btn-warning" >Reset</button>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/register" style="text-decoration: none;">Need Account ? <span class="text-danger">Register</span></a>
                            </div>
                            <div class="col-md-6">
                                <a href="/forgot-password" class="text-dark" style="text-decoration: none;"> Forgot Password ? </a>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <a (click)="signInWithGoogle()" style="text-decoration: none;cursor: pointer;">
                                <div class="card shadow text-center">
                                    <div class="card-body">
                                        <img src="/assets/gg.png" alt="" height="24px" width="24px"> Sign In with Google
                                    </div>
                                </div>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div> -->

<header>
    
    <div id="navbar" class="nav navbar-dark bg-danger shadow-sm back fixed-top ">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">
                Amazon
            </i>
        </div>
       
    </div>
</header>
<br>
<br>
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-1">
                    <div class="row">
                        <img src="/assets/wel.jpeg" class="logo">
                    </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                        <img src="/assets/shp.jpeg" class="image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row mt-2">
                        <a (click)="signInWithGoogle()" style="text-decoration: none;cursor: pointer;">
                            <div class="card shadow text-center">
                                <div class="card-body">
                                    <img src="/assets/gg.png" alt="" height="24px" width="24px"> Sign In with Google
                                </div>
                            </div>
                        </a>
                    </div>
     
                    <div class="row px-3 mb-4">
                        <div class="line"></div>
                       <small class="or text-center">Or</small>
                        <div class="line"></div>
                    </div>
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm">Email Address</h6></label>
                        <input class="mb-4" type="email" name="email" placeholder="Enter a valid email address" [(ngModel)]="email">
                    </div>
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm">Password</h6></label>
                        <input type="password" name="password" placeholder="Enter password" [(ngModel)]="password">
                    </div>
                    <div class="row px-3 mb-4">
                   
                        <a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a>
                    </div>
                    <div class="row mb-3 px-3">
                        <button type="submit" class="btn btn-blue text-center" (click)="login()">Login</button>
                    </div>
                    <div class="row mb-4 px-3">
                        <small class="font-weight-bold">Don't have an account? <a class="text-danger" href="/register">Register</a></small>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
