
<header>
    
    <div id="navbar" class="nav navbar-dark bg-danger shadow-sm back fixed-top ">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">
                Amazon
            </i>
        </div>
    </div>
</header>

<br>

<br>

<br>

<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.title}}</td>
                            <td><img style="width: 120px;" src="{{item.image}}" alt=""></td>
                            <td style="width: 25%;">{{item.category}}</td>
                             <th style="width: 12%;">${{item.price}}</th>
                           
                             <td> 
                                
                                <button class="btn btn-info btn-sm" (click)="increment(item)"><i class="fas fa-plus"></i></button>  <strong> {{item.quantity}} </strong>  <button class="btn btn-info btn-sm" (click)="decrement(item)"><i class="fas fa-minus"></i></button>
                                
                               </td>  
                             <th style="width: 12%;" id="ss" >${{item.price * item.quantity}}</th> 
                          

                        
                            <!-- <td> 
                                <input type="text" (change)="changeFnc($event)" 
                                required>
                                
                           
                            </td>
                           
                             <td style="width: 12%;">${{ss}}</td>   -->

                            <!-- <td> 
                                
                                <input type="text"  ng:model="item.prc" [value]="item.price" ng:required class="form-control">
                           
                            </td> 

                            <td> 
                                
                                 
                                 <input type="number" min="1" ng:model="item.qty" [value]="item.quantity" ng:required class="form-control">
                            </td> 
 -->
                           
                           
                            
                            <td>
                                <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6"></td>
                            
                            <td><strong>Grand Total : ${{total}}</strong></td>
                        </tr>
              
                        <tr>
                            <td colspan="4"></td>
                            <td><button (click)="emptycart()" class="btn btn-info">Empty Cart</button></td>
                            <td><button routerLink="/products" class="btn btn-warning">Shop More</button></td>
                            <td><button class="btn btn-success" routerLink="/navigation">CheckOut</button></td>
                            
                        </tr>
              
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="products.length==0">
    <header>
    
        <div id="navbar" class="nav navbar-dark bg-danger shadow-sm back fixed-top ">
            <div class="navbar-brand align-item-center d-flex">
                <i style="font-size: 40px;" class="fas fa-shipping-fast">
                    Amazon
                </i>
            </div>
        </div>
    </header>
    
    <br>
    <div class="container">
        <div class="card">
            <h3 class="card-title">Empty Cart!!!</h3>
            <h6 class="card-tile">Add some items to it...</h6>
            <br> 
        </div>
       
        <div class="center">
            <img src="/assets/cart.jpeg" alt="">
            <img src="/assets/cart2.jpeg" alt="">
            <img src="/assets/shop.jpeg" alt="">
        </div>
        
           
           
    </div>

    <div class="center">
        <button routerLink="/products" class="btn btn-warning">Shop Now</button>
   
    </div>
</ng-container>

