<header>

    <div id="navbar" class="nav navbar-dark bg-danger  shadow-sm back navbar-collapse fixed-top ">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">
                Shoppiee
            </i>
            <div class="navbar-brand align-item-center d-flex">
                <strong style="font-size: 30px;text-align:center;color: rgb(228, 37, 11);">Welcome Admin!!</strong>

            </div>
            <div class="navbar-brand align-item-center d-flex">
                <strong style="font-size: 20px;color: rgb(228, 37, 11);">Welcome Admin!!</strong>

            </div>
            <div class="navbar-brand align-item-center d-flex">
                <strong style="font-size: 30px;text-align:center;color: rgb(228, 37, 11);">Welcome Admin!!</strong>

            </div>

        </div>
        <div class="d-flex">
            <ng-container *ngIf="true">





                <button class="btn btn-success me-2" routerLink="/products" id="b1"> Website</button>


                <button class="btn btn-warning me-2" (click)="logout()" id="b1"> LogOut</button>

            </ng-container>
        </div>
    </div>
</header>





<!-- <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Navbar</a>

      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   
  </nav> -->

<br>
<br>
<br>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card border-0 shadow p-3">
                <form class="form-control" name="registration" onsubmit="return registration()">
                <div class="form-floating mb-3 tetx-center">
                    <h5 class="text-center text-warning">Add Product</h5>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="t1" name="pid" [(ngModel)]="pid">
                    <label for="t1">Product Id:</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="t2" name="title" [(ngModel)]="title">
                    <label for="t2">Product Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="t3" name="image" [(ngModel)]="image">
                    <label for="t3">Product URL:</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="t4" name="category" [(ngModel)]="category">
                    <label for="t4">Product Description</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="t5" name="price" [(ngModel)]="price">
                    <label for="t5">Price</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="mobile" name="quantity" [(ngModel)]="quantity">
                    <label for="t6">Quantity</label>
                </div>
                <button type="button" class="btn btn-outline-success" (click)="addProduct()">Add Product</button>
            </form>
            </div>
        </div>
 

        <div class="col-md-8 mt-2">
            <h5 class="text-danger"> Product List</h5>
            <div class="card p-3 shadow">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Product Id</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Product Image</th>
                                <th scope="col">Categeory</th>

                                <th scope="col">Price</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of productsList">
                                <td>{{item.pid}}</td>
                                <td>{{item.title}}</td>
                                <td><img src={{item.image}}></td>
                                <td>{{item.category}}</td>

                                <td>{{item.price}}</td>

                                <td>
                                    <button class="btn btn-outline-danger" (click)="deleteProduct(item)">Delete</button>
                                </td>
                                <td>
                                    <button class="btn btn-outline-warning" routerLink="/update"
                                        (click)="update(item)">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>