<!-- <div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Register</h4>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input type="email" class="form-control" name="email" [(ngModel)]="email">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" name="password" [(ngModel)]="password" >
                        </div>
                        <button type="button" class="btn btn-info" (click)="register()">Register</button>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/user-login" style="text-decoration: none;">Have an account ? <span class="text-danger">Login</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div> -->


<header>
    
    <div id="navbar" class="nav navbar-dark bg-danger shadow-sm back fixed-top ">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">
                Amazon
            </i>
        </div>
       
    </div>
</header>
<br>
<br>
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
          
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm">User Name:</h6></label>
                        <input class="mb-4" type="text" placeholder="Welcome user..">
                    </div>
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm">Mobile:</h6></label>
                        <input class="mb-4" type="text" placeholder="10 digits only">
                    </div>
               
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm">Email Address</h6></label>
                        <input class="mb-4" type="email" name="email" placeholder="Enter a valid email address" [(ngModel)]="email">
                    </div>
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm">Password</h6></label>
                        <input type="password" name="password" placeholder="Enter password" [(ngModel)]="password">
                    </div>
                   <br>
                    <div class="row mb-3 px-3">
                        <button type="submit" class="btn btn-blue text-center" (click)="register()">Register</button>
                        
                    </div>
                    <div class="row px-3 mb-4">
                        <div class="line"></div>
                       <small class="or text-center">or</small>
                        <div class="line"></div>
                    </div>
                    <div class="row mb-3 px-3">
                    <button type="submit" class="btn btn-red text-center" routerLink="/user-login">Login</button>
                    </div>
                </div>
            </div>

                <div class="col-lg-6">
                    <div class="card1 pb-1">
                        <div class="row">
                            <img src="/assets/re.png" class="logo">
                        </div>
                        <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                            <img src="/assets/kid.jpeg" class="image">
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>


              
     